.detailForm
    detail-header
    .detailContent(layout="row" flex)
        form(name="vm.detailForm")
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    include ./tabs/top-panel.jade
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Features")
                            include ./tabs/tab-features.jade
                        md-tab(label="Table Maps")
                            include ./tabs/tab-table-maps.jade
                        md-tab( label="Notes")
                            include ./tabs/tab-notes.jade
    detail-footer