

div(layout="column" )
    h3 Add Communication
    .form-group(flex="25")
        label.control-label(for="title") Date
        date-picker(field="vm.models.newCommLog.date")
    .form-group(flex="25")
        label.control-label(for="title") Time
        time-picker(field="vm.models.newCommLog.time")
    select.form-control(ng-model="vm.models.newCommLog.commType")
        option(value="Emailed") Emailed 
        option(value="Left Voicemail") Left Voicemail
        option(value="Met With") Met With
        option(value="Rec. Email") Rec. Email
        option(value="Rec. Voicemail") Rec. Voicemail
        option(value="Talked With") Talked With
    //- .form-group(flex="33")
    //-     label.control-label(for="title") Employee
    //-     input.form-control(ng-model="vm.models.newEventStep.employee" )
    .form-group(flex="33")
        label.control-label(for="title") Description
        input.form-control(ng-model="vm.models.newCommLog.description" )
    .form-group
        .btn.btn-primary(ng-click="vm.addCommLog()") Add Item