div(layout="row" layout-align="end start")
    md-button( ng-click="vm.closeMenuItemSelector()") Close
div(layout="row" )
    div(layout="column")
        h3 Add Items
        div(layout="row")
            md-button.md-raised( ng-click="vm.itemSelector = !vm.itemSelector" ng-class="{'md-primary': !vm.itemSelector}") By Group
            md-button.md-raised( ng-click="vm.itemSelector = !vm.itemSelector" ng-class="{'md-primary': vm.itemSelector}") By Item
        div(ng-show="!vm.itemSelector")
            h5 Select Menu Group
            select.form-control(name="menuGroup" ng-model="vm.selectedMenuGroup", ng-options="idx as group.name for (idx, group) in vm.activeMenuGroups" ng-change="vm.resetGroupSelectors()")
            h5 Select Menu
            select.form-control(name="menuGroup" ng-model="vm.selectedMenu", ng-options="idx as menu.name for (idx, menu) in vm.activeMenuGroups[vm.selectedMenuGroup].menus")
            h5 Select Section
            select.form-control(name="menuGroup" ng-model="vm.selectedSection", ng-options="idx as section.title for (idx, section) in vm.activeMenuGroups[vm.selectedMenuGroup].menus[vm.selectedMenu].sections")
            hr
            div.itemCard(ng-repeat="item in vm.activeMenuGroups[vm.selectedMenuGroup].menus[vm.selectedMenu].sections[vm.selectedSection].items" style="border: solid black 1px; background-color: white" uib-tooltip="{{item.description || 'No description'}}" tooltip-popup-delay='500' tooltip-placement="left")
                a(href="" ng-click="vm.docSvc.addMenuItem(item)") 
                    span.glyphicon.glyphicon-circle-arrow-left 
                span() &nbsp; {{item.name}}
        div(ng-show="vm.itemSelector")
            h5 Title like:
            input.form-control(ng-model="titleLike")
            h5 Description like:
            input.form-control(ng-model="descriptionLike")
            h5 Category is:
            input.form-control(ng-model="categoryIs")
            md-button( ng-click="vm.searchForMenuItems(titleLike, descriptionLike, categoryIs)") Search
            hr
            div.itemCard(ng-repeat="item in vm.selectableMenuItems" style="border: solid black 1px; background-color: white" uib-tooltip="{{item.description || 'No description'}}" tooltip-popup-delay='500' tooltip-placement="left")
                a(href="" ng-click="vm.docSvc.addMenuItem(item)") 
                    span.glyphicon.glyphicon-circle-arrow-left 
                span() &nbsp; {{item.name}}
                //- md-tooltip(md-direction="left" md-delay="500") {{item.description || 'No description'}}
