
md-content(layout-padding style="background: transparent")
    div
        a(ng-click="vm.sideTab.menuItems = !vm.sideTab.menuItems") Close
    div()
        h3 Add Food to Contract
        a(ui-sref="root.menuitems") Add menu item
        lookups(tm-data-source="MenuItem" doc-list="vm.tmContractDocSvc.doc.menuItems" list="root" doc-service-add-method="tmContractDocSvc.addMenuItem")
            div.itemCard(style="border: solid black 1px; background-color: white")
                a(href="" ng-click="dCtrl.addItem(item)") 
                    span.glyphicon.glyphicon-circle-arrow-left 
                span &nbsp; {{item.name}}
