
md-content(layout-padding style="background: transparent")
    div
        a(ng-click="vm.sideTab.timeline = !vm.sideTab.timeline") Close
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
    div() We can add standard timeline events here.  Should we have a text box to 
        | collect an ad hoc timeline event and add it to the limeline?
        