

div(layout="column" )
    h3 Contract Print Settings
    .form
        .form-group 
            input(type="checkbox" name="Enable page break" ng-model="vm.docSvc.doc.addPageBreak" style="float: left")
            p(style="float: left") Enable page break