
div(layout="row" )
    div(flex="50")
        .itemCardHeader(layout="column")
            h4 Contract Notes
        .form-group(style="margin: 5px")
            textarea.form-control(name="notes" placeholder="Customer only notes here" rows="30" ng-model="vm.docSvc.doc.notes")
    div(flex="50")
        .itemCardHeader(layout="column")
            h4 Staff Only Event Order Notes
        .form-group(style="margin: 5px")
            textarea.form-control(name="notes" placeholder="Staff only notes here" rows="30" ng-model="vm.docSvc.doc.staffNotes")