form(name="vm.detailForm")
    // div(layout-gt-xs="row" layout-padding)
div(flex layout="row")
    div(flex="80" align-content="flex-start" layout="column")
        div(layout="row")
            .form-group(flex="25")
                label.control-label(for="title") Event Name
                input.form-control(ng-model="vm.docSvc.doc.eventName" )
            .form-group(flex="25")
                label.control-label(for="serviceType") Service Type
                select.form-control(ng-model="vm.docSvc.doc.serviceType", ng-options="serviceType for serviceType in vm.serviceTypeOptions")
            .form-group(flex="50")
                label.control-label(for="title") Nature of Event
                input.form-control(ng-model="vm.docSvc.doc.natureOfEvent" )
                //- label.control-label(for="subTitle") Description 
                //- input.form-control(ng-model="vm.docSvc.doc.description")
                //- label.control-label(for="description") Nature of Event
                //- input.form-control(ng-model="vm.docSvc.doc.natureOfEvent")
        div(layout="row")
            .form-group(flex="100")
                label.control-label(for="subTitle") Menu Text 
                input.form-control(ng-model="vm.docSvc.doc.description")
        div(layout="row")
            .form-group(flex="25")
                label.control-label(for="title") Date of Event
                date-picker(field="vm.docSvc.doc.eventDate")
            .form-group(flex="15")
                label.control-label(for="title") Start Time
                time-picker(field="vm.docSvc.doc.time")
            .form-group(flex="15")
                label.control-label(for="title") End Time
                time-picker(field="vm.docSvc.doc.endTime")
            .form-group(flex="30")
                label.control-label(for="status") Status
                select.form-control(ng-model="vm.docSvc.doc.status", ng-options="contract for contract in vm.contractStatusOptions")
        div(layout="row")
            .form-group(flex="25")
                label.control-label(for="minAttendees") Minimum number of attendees
                input.form-control(ng-model="vm.docSvc.doc.banquetAttendeeLow", type='text')
            .form-group(flex="25")
                label.control-label(for="maxAttendees") Maximum number of attendees
                input.form-control(ng-model="vm.docSvc.doc.banquetAttendeeHigh", type='text')
            //- .form-group(flex="30")
            //-     label.control-label(for="serviceType") Service Type
            //-     select.form-control(ng-model="vm.docSvc.doc.serviceType", ng-options="serviceType for serviceType in vm.serviceTypeOptions")
                
    //- div(flex="20" layout="column")
    //-     div
    //-         span(style="font-weight: bold") Room(s)&nbsp; 
    //-             a(href="" ng-click="vm.openSideTab('rooms')") +Add
    //-     div()
    //-         div.itemCard.itemCard-dark(layout="row" layout-align="start center" ng-repeat="item in vm.docSvc.doc.venue track by $index")
    //-             div(flex="grow") {{item.name}}
    //-             div(flex="grow")
    //-             div.glyphicon.glyphicon-remove-circle( ng-click="vm.removeVenue($index)" style="margin-left: 5px;" )