form(name="vm.detailForm")
    div(layout-gt-xs="row" layout-padding)
        div(flex layout="column")
            div(flex layout="row")
                .form-group(flex="33")
                    label.control-label(for="title") Event Name
                    input.form-control(ng-model="vm.docSvc.doc.eventName" )
                .form-group(flex="66")
                    label.control-label(for="description") Nature of Event
                    input.form-control(ng-model="vm.docSvc.doc.natureOfEvent")
            div(flex layout="row")
                .form-group(flex="20")
                    label.control-label(for="title") Date of Event
                    p.input-group
                        input.form-control(type="text" uib-datepicker-popup="shortDate" ng-model="vm.docSvc.doc.eventDate" is-open="vm.status.datePickerOpen" close-text="Close")
                        span.input-group-btn
                            button.btn.btn-default(type="button" ng-click="vm.openDatePicker()")
                                i.glyphicon.glyphicon-calendar
                    //input.form-control(ng-model="vm.docSvc.doc.eventDate" )
                .form-group(flex="20")
                    label.control-label(for="title") Start Time
                    // p.input-group
                    //     input.form-control(type="text" )
                    //     span.input-group-btn
                    //         span(uib-dropdown auto-close="outsideClick" is-open="vm.status.timePickerOpen")
                    //             button.btn.btn-default(type="button" uib-dropdown-toggle id="dateDropDown")
                    //                 i.glyphicon.glyphicon-time
                    //             div(uib-dropdown-menu style="padding: 10px")
                    //                 uib-timepicker(ng-model="vm.docSvc.doc.startTime")
                    //                 a(href="" ng-click="vm.closeTimePicker()") Done
                    span(uib-dropdown auto-close="outsideClick" is-open="vm.status.timePickerOpen")
                        p.input-group
                            input.form-control(ng-model="vm.docSvc.doc.startTime" uib-datepicker-popup="shortTime")
                            span.input-group-btn
                                button.btn.btn-default(uib-dropdown-toggle type="button" id="dateDropDown" style="padding-left: 5px")
                                    i.glyphicon.glyphicon-time
                                div(uib-dropdown-menu style="padding: 10px")
                                    uib-timepicker(ng-model="vm.docSvc.doc.startTime")
                                    a(href="" ng-click="vm.closeTimePicker()") Done
                        // button.btn.btn-default(uib-dropdown-toggle type="button" id="dateDropDown" style="padding-left: 5px") edit
                        // div(uib-dropdown-menu style="padding: 10px")
                        //     uib-timepicker(ng-model="vm.docSvc.doc.startTime")
                        //     a(href="" ng-click="vm.closeTimePicker()") Done
                    //p.form-control-static {{vm.docSvc.doc.startTime | date:'shortTime'}}
                .form-group(flex="20")
                .form-group(flex="20")
                .form-group(flex="20")