//- we need to alphabetical sort this!!

div(flex="100")
    list-header
    alpha-select(on-select="vm.changeFilter({value: letter})")
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Menu
            th Description
            th.text-right
                button.btn.btn-primary.btn-xs(ng-click="vm.addItemDialog()") {{::vm.constructorArgs.addHeaderText}}
        tbody
            tr(ng-repeat="item in vm.items | filter:searchText | orderBy:sortOrder" ng-show="vm.filter =='' || vm.filter == item.nwName[0]")
                td {{::item.name}}
                td {{::item.description}}
                td(style="padding: 4px;")
                    list-item-buttons(id-val="item._id" delete-fn="vm.deleteItem(idVal)" edit-fn="vm.details(idVal)")