.detailForm(ng-cloak)
    detail-header
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    include ./tabs/top-panel.jade
                div.detailSection(layout-padding)
                    md-tabs.with-overflow(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        //- md-tab(ng-repeat="tabs in vm.docSvc.doc.sections | orderBy:'printOrder' track by $index" label="{{tabs.title}}" ng-click="vm.docSvc.setIndex(vm.tabIndex)")
                        md-tab(ng-repeat="tabs in vm.docSvc.doc.sections track by $index" label="{{tabs.title}}" ng-click="vm.docSvc.setIndex(vm.tabIndex)")
                            include ./tabs/section-food.jade
                        //- md-tab(ng-click="console.log('click!')")
                        //-     span.glyphicon.glyphicon-plus
                        md-tab(label="Sections Details")
                            include ./tabs/tab-sections2.jade
                        //- md-tab(label="Groups")
                        //-     include ./tabs/tab-groups.jade
                        //- md-tab(label="Notes")
                        //-     include ./tabs/tab-notes.jade
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
        //- div.detailRightPanel(flex="20" ng-show="vm.tabIndex === 1" layout-padding)
        //- div.detailRightPanel(flex="20" ng-show="vm.docSvc.activeObj.visible === 0 && vm.tabIndex === 1" layout-padding)
        //- div.detailRightPanel(flex="20" ng-show="vm.sideTab.categories" layout-padding)
        //-     md-content(layout-padding style="background: transparent")
        //-         div()
        //-             h3 Add Category
        //-             a(href="") Add categories to the list
        //-             lookups(tm-data-source="Lookups" doc-list="vm.tmMenuItemDocSvc.doc.categories" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
        //-                 a(href="" ng-click="dCtrl.addItem(item)") 
        //-                     span.glyphicon.glyphicon-circle-arrow-left 
        //-                 span &nbsp; {{item}}
        //- div.detailRightPanel(flex="20" ng-show="vm.docSvc.activeObj.visible === 1 && vm.tabIndex === vm.docSvc.doc.sections.length" layout-padding)
        //-     md-content(layout-padding style="background: transparent")
        //-         div()
        //-             h3 Edit Section
        //-             br
        //-             h5 
        //-                 b Title
        //-             input.form-control(ng-model="vm.docSvc.doc.sections[vm.docSvc.activeObj.index].title")
        //-             h5 
        //-                 b Print Order 
        //-             //- input.form-control(ng-change="vm.docSvc.runSort()" ng-model="vm.docSvc.doc.sections[vm.docSvc.activeObj.index].printOrder")
        //-             select.form-control(ng-model="vm.selectedIndex")
        //-                 option(ng-repeat="section in vm.docSvc.doc.selArr" value="section.printOrder") {{vm.docSvc.doc.selArr.indexOf(section) + 1}}
        //-             md-button.md-raised(ng-click="vm.docSvc.runSort(vm.docSvc.activeObj.index)") Save
        //-             //- md-button.md-raised(ng-click="vm.sideTab")
        div.detailRightPanel(flex="20" ng-show="vm.toggleAddMenuItems" layout-padding)
            div(layout="row" layout-align="end start")
                md-button( ng-click="vm.toggleAddMenuItems = !vm.toggleAddMenuItems") Close
            div(layout="row" )
                div(layout="column")
                    hr
                    md-button( ng-click="vm.createNewMenuItem()") Create New
                    h4 Find Existing
                    h5 Title like:
                    input.form-control(ng-model="titleLike")
                    h5 Description like:
                    input.form-control(ng-model="descriptionLike")
                    h5 Category is:
                    input.form-control(ng-model="categoryIs")
                    md-button( ng-click="vm.searchForMenuItems(titleLike, descriptionLike, categoryIs)") Search
                    div.itemCard(ng-repeat="item in vm.selectableMenuItems" style="border: solid black 1px; background-color: white"  uib-tooltip="{{item.description || 'No description'}}" tooltip-popup-delay='500' tooltip-placement="left")
                        a(href="" ng-click="vm.docSvc.addMenuItem(vm.tabIndex, item)") 
                            span.glyphicon.glyphicon-circle-arrow-left 
                        span() &nbsp; {{item.name}}
        //- div.detailRightPanel(flex="20" ng-show="vm.sideTab.menuItems && vm.tabIndex != vm.docSvc.doc.sections.length" layout-padding)
        //-     md-content(layout-padding style="background: transparent")
        //-         div()
        //-             h3 Add Food
        //-             br
        //-             h5 
        //-                 b By Name 
        //-             input.form-control(ng-model="vm.docSvc.byNameEntry", ng-disabled="vm.docSvc.selCategory ? true : false")
        //-             h5
        //-                 b Category
        //-             select.form-control(ng-model="vm.docSvc.selCategory", ng-disabled="vm.docSvc.byNameEntry ? true : false", ng-options="item for item in vm.docSvc.categories.menuItemTags") 
        //-                 option(value="") Please Select
        //-             br
        //-             div.itemCard(ng-repeat="item in vm.docSvc.addableMenuItems" style="border: solid black 1px; background-color: white")
        //-                 a(href="" ng-click="vm.docSvc.addItem(item)") 
        //-                     span.glyphicon.glyphicon-circle-arrow-left 
        //-                 span(title="{{item.description}}") &nbsp; {{item.name}}
        //-             br
        //-             md-button.md-raised(ng-click="vm.docSvc.byNameEntry ? vm.docSvc.runSearch('name', vm.docSvc.byNameEntry) : vm.docSvc.runSearch('category', vm.docSvc.selCategory)") Search
        //-             md-button.md-raised(ng-click="vm.sideTab.menuItems = !vm.sideTab.menuItems") Close
        //-             md-button(ng-click="vm.changeSectionOrder()") Change Order
        //-             br
    detail-footer