.md-toolbar-tools
    h2
        span banquet.ninja
    md-button(ui-sref="root.home") Home
    // md-button(ui-sref="root.home") Home2
    // md-button(ui-sref="root.home") Home3
    span(flex="")
    div(layout="row" layout-align="start center" ng-show="vm.isLoading")
        div Working...
        md-progress-circular(md-mode="indeterminate")
    div(ng-show="vm.identity.isAuthenticated()" style="margin-right: 10px")
        div.dropdown(style="margin-right: 15px")
            a.dropdown-toggle(data-toggle="dropdown" data-target="#") {{vm.currentUser.user.firstName+' '+ vm.currentUser.user.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(ui-sref="root.profile") Profile
                li
                    a(href="", ng-click="vm.signout()") Sign Out
    md-button(ng-hide="vm.identity.isAuthenticated()" ui-sref="root.signup") Sign Up
    //md-button(ng-show="vm.identity.isAuthenticated()" ng-click="vm.signout()") Logout
    md-menu
        md-button(ng-hide="vm.identity.isAuthenticated()" ng-click="$mdOpenMenu($event)") Login
        md-menu-content
            div(layout="column" layout-margin)
                md-input-container
                    label Username
                    input(type="text" ng-model="vm.username")
                md-input-container
                    label Password
                    input(type="password" ng-model="vm.password")
                md-button.md-raised(ng-click="vm.signin(vm.username, vm.password, vm.remember)") Sign In
                