

#top-nav.navbar.navbar-inverse.navbar-fixed-top
    .container#login(ng-controller="HeaderCtrl as vm")
        p(style="color: white") Hello Again...and again
        input(type="text" ng-model="vm.username")
        input(type="password" ng-model="vm.password")
        button.btn.btn-default(type="button" ng-click="vm.login(vm.username, vm.password)") Login2
        p(style="color: white") {{vm.loggedIn}}