.md-toolbar-tools(ng-controller="tmLoginCtrl as vm")
    h2
        span banquet.ninja
    md-button(ui-sref="root.home") Home
    md-button(ui-sref="root.home") Home2
    md-button(ui-sref="root.home") Home3
    span(flex="")
    md-button.md-raised Sign Up
    md-menu
        md-button.md-raised(ng-click="$mdOpenMenu($event)") Login
        md-menu-content
            div(layout="column" layout-margin)
                md-input-container
                    label Username
                    input(type="text" ng-model="vm.username")
                md-input-container
                    label Password
                    input(type="password" ng-model="vm.password")
                md-button.md-raised(ng-click="vm.signin(vm.username, vm.password, vm.remember)") Sign In
                