div(flex="100")
    list-header
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Name
            th Primary Phone
            th.text-right
                button.btn.btn-primary.btn-xs(ng-click="vm.addItemDialog()") {{::vm.constructorArgs.addHeaderText}}
        tbody
            tr(ng-repeat="item in vm.items | filter:searchText | orderBy:vm.sortOrder")
                td {{::item.firstName}} {{::item.lastName}} 
                td {{::item.phoneNumbers[0].number | tmPhoneFilter}}
                td(style="padding: 4px;")
                    list-item-buttons(id-val="item._id" delete-fn="vm.deleteItem(idVal)" edit-fn="vm.details(idVal)")
                    //- a(href="" ng-click="vm.details(item._id)")
                    //-     span.glyphicon.glyphicon-pencil
                    //- | &nbsp; | &nbsp;
                    //- a(href="" ng-click="vm.deleteItem(item._id)")
                    //-     span.glyphicon.glyphicon-remove
