div(flex="100")
    ///.breadcrumb Production > Menu Items
    legend Customers
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            | &nbsp;
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
    is-loading
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Last Name
            th First Name
            th.text-right
                button.btn.btn-primary.btn-xs(ng-click="vm.addItemDialog()") Add Customer
        tbody
            tr(ng-repeat="item in vm.items | filter:searchText | orderBy:sortOrder")
                td {{::item.firstName}} {{::item.lastName}} 
                td {{::item.phoneNumbers[0].number}}
                td.text-right
                    //button.btn.btn-primary.btn-xs(ng-click="vm.details(menuItem._id)") Edit
                    a(href="" ng-click="vm.details(item._id)")
                        span.glyphicon.glyphicon-pencil
                    | &nbsp; | &nbsp;
                    a(href="" ng-click="vm.deleteItem(item._id)")
                        span.glyphicon.glyphicon-remove
