.detailForm
    detail-header
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    form(name="vm.detailForm")
                        div(layout-gt-xs="row" layout-padding)
                            div(flex layout="row")
                                .form-group
                                    label.control-label(for="firstName") First Name
                                    input.form-control(name="firstName" placeholder="First Name" ng-model="vm.docSvc.doc.firstName")
                                .form-group
                                    label.control-label(for="lastName") Last Name
                                    input.form-control(name="lastName" placeholder="Last Name" ng-model="vm.docSvc.doc.lastName")
                div.detailSection(layout-padding style="min-height: 400px")
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Contract History")
                                div(layout="column" flex layout-fill layout-padding)
                                    div.itemCardHeader(layout="row")
                                        div
                                            h4 Events
                                        div(flex)
                                        div
                                            h4
                                                a(href="" ng-click="vm.addContract()")
                                                    span.glyphicon.glyphicon-plus
                                    //md-button(ng-click="vm.addContract()") Add Contract
                                    div.itemCard(ng-repeat="contract in vm.docSvc.doc.contracts | orderBy:'-date'")
                                        .pull-right
                                            a(ui-sref="root.contractDetail({id: contract._id})") View
                                        div.md-title {{::contract.title}}
                                        div {{::contract.date  | date:'fullDate' }}
                        md-tab( label="Contact Information")
                                div(layout="row" flex layout-fill layout-padding)
                                    div(layout="column" flex="33")
                                        div.itemCardHeader(layout="row")
                                            div
                                                h4 Phone Numbers
                                            div(flex)
                                            div
                                                h4
                                                    a(href="" ng-click="vm.addPhoneNumber()")
                                                        span.glyphicon.glyphicon-plus
                                        div.itemCard(ng-repeat="phoneNumber in vm.docSvc.doc.phoneNumbers")
                                            div.pull-right
                                                a(href="" ng-click="vm.addPhoneNumber($index, phoneNumber)" style="padding-right: 5px") Edit
                                                    //span.glyphicon.glyphicon-pencil
                                                a(href="" ng-click="vm.removePhoneNumber($index)") Delete
                                                    //span.glyphicon.glyphicon-remove
                                            div {{::phoneNumber.number | tmPhoneFilter}} ({{::phoneNumber.contactType}})
                                    div(layout="column" flex="33")
                                        div.itemCardHeader(layout="row")
                                            div
                                                h4 Emails
                                            div(flex)
                                            div
                                                h4
                                                    a(href="" ng-click="vm.addEmail()")
                                                        span.glyphicon.glyphicon-plus
                                        div.itemCard(ng-repeat="email in vm.docSvc.doc.emails")
                                            div.pull-right
                                                a(href="" ng-click="vm.addEmail($index, email)" style="padding-right: 5px") Edit
                                                    //span.glyphicon.glyphicon-pencil
                                                a(href="" ng-click="vm.removeEmail($index)") Delete
                                                    //span.glyphicon.glyphicon-remove
                                            div {{::email.email}} ({{::email.emailType}})
                                    div(layout="column" flex="33")
                                        div.itemCardHeader(layout="row")
                                            div
                                                h4 Addresses
                                            div(flex)
                                            div
                                                h4
                                                    a(href="" ng-click="vm.addAddress()")
                                                        span.glyphicon.glyphicon-plus
                                        div.itemCard(ng-repeat="address in vm.docSvc.doc.addresses")
                                            div.pull-right 
                                                a(href="" ng-click="vm.addAddress($index, address)" style="padding-right: 5px") Edit
                                                    //span.glyphicon.glyphicon-pencil
                                                a(href="" ng-click="vm.removeAddress($index)") Delete
                                                    //span.glyphicon.glyphicon-remove
                                            div {{::address.address1}}
                                            div {{::address.address2}}
                                            div {{::address.city}}, {{::address.state}} {{::address.zip}}
                                            div ({{::address.addressType}})
                        md-tab(label="General Notes")
                            div(layout="row" layout-padding)
                                div(flex)
                                    .itemCardHeader(layout="column")
                                        h4 General Notes
                                    .form-group
                                        //label.control-label(for="notes") Notes
                                        textarea.form-control(name="notes" placeholder="Add notes here" rows="10" ng-model="vm.docSvc.doc.notes")
                // div.insideDetailFooter(layout="row" layout-padding layout-align="start start" style="border-top: solid black 1px")
                //     div Some footer text here
    detail-footer