.detailForm
    .detailHeader(layout="row" layout-align="center center" layout-padding)
        div(flex="33" layout="row" layout-align="start center") 
            // Header Name Value Here
            h4 {{vm.docSvc.doc.name}} Detail
        div(flex="33" layout="row" layout-align="center center") 
            md-button(ng-click="vm.docSvc.refreshFromServer()") Refresh
        div(flex="33" layout="row" layout-align="end center") 
            md-button(ng-click="vm.close()" aria-label="close")
                span.glyphicon.glyphicon-remove
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    div()
                        form(name="vm.detailForm")
                            div(layout-gt-xs="row" layout-padding)
                                div(flex layout="row")
                                    md-input-container.md-block.md-body-2
                                        label First Name
                                        input(ng-model="vm.docSvc.doc.firstName" )
                                    md-input-container.md-block.md-body-2(flex-gt-sm)
                                        label Last Name
                                        input(ng-model="vm.docSvc.doc.lastName")
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Descriptions")
                                div(layout="row" flex layout-fill layout-padding)
                                    div(layout="column" flex)
                                        md-input-container.md-block(flex)
                                            label Title
                                            input(ng-model="vm.docSvc.doc.firstName")
                                        md-input-container.md-block(flex)
                                            label Sub Title
                                            input(ng-model="vm.docSvc.doc.lastName")
                        md-tab(label="Sections")
                            div(layout="row" layout-padding)
                                div(flex=33)
                                    h3 Sections
                                    p Sections are used for grouping menu items.  Example Appetizers, Soups & Salads, Entrees, etc.
                                    md-button(ng-click="vm.docSvc.addSection()") Add Section
                                    div(ng-repeat="item in vm.docSvc.doc.sections track by $index")
                                        div(layout="row" style="width: 150px")
                                            span  {{item.title}} 
                                            span(flex)
                                            a(href="" ng-click="vm.docSvc.removeSection($index)")
                                                span.glyphicon.glyphicon-remove
                        md-tab(label="Notes")
                            md-content
                                md-input-container.md-block
                                    label Notes
                                    textarea(ng-model="vm.tmMenuItemDocSvc.doc.notes") 
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
                    div Some footer text here
        div.detailRightPanel(flex="20" ng-show="vm.tabIndex === 1" layout-padding)
            md-content(layout-padding style="background: transparent")
                div()
                    h3 Add Category
                    a(href="") Add categories to the list
                    lookups(tm-data-source="Lookups" doc-list="vm.tmMenuItemDocSvc.doc.categories" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
                        a(href="" ng-click="dCtrl.addItem(item)") 
                            span.glyphicon.glyphicon-circle-arrow-left 
                        span &nbsp; {{item}}
    .detailFooter(layout="row" layout-align="center center" layout-padding)
        div(flex="33" layout="row" layout-align="start center") 
            md-button.md-raised(ng-click="vm.close()" aria-label="close") Cancel
        div(flex="33" layout="row" layout-align="center center") 
            div Middle Footer
        div(flex="33" layout="row" layout-align="end center") 
            md-button.md-raised(ng-click="vm.addItem()") Add
            md-button.md-raised(ng-click="vm.reset()" aria-label="" ng-disabled="vm.detailForm.$pristine") Undo
            // md-menu
            //     md-button(ng-click="vm.openSaveMenu($mdOpenMenu, $event)") Save
            //     md-menu-content
            //         md-menu-item
            //             md-button(ng-click="vm.setSaveButton('close')") Save & Close
            //         md-menu-item
            //             md-button(ng-click="vm.setSaveButton('stay')") Save & Stay
                    
            md-button.md-raised(ng-click="vm.saveChanges()" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Stay
            md-button.md-raised(ng-click="vm.saveChanges(true)" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Close