
package-lock.json

node_modules/*
!node_modules/ninjaSchemas

vendor/mongoose/node_modules

# These are modules we are in control of 
# !node_modules/mongoose/
!node_modules/ninjaSchemas
.vscode/temp.sql
.vscode/launch.json
