package-lock.json
.gitignore

node_modules/*
!node_modules/ninjaSchemas

# These are modules we are in control of 
# !node_modules/mongoose/
.vscode/temp.sql
.vscode/launch.json

vendor/mongoose/node_modules

public/build/bundle.js
public/build/bundle.js.map
