div(layout="row" flex layout-fill layout-padding)
        div(layout="column" flex)
            .form-group(flex="90")
                label.control-label(for="title") Title
                input.form-control(ng-model="vm.docSvc.doc.title")
div(layout="row" flex layout-fill layout-padding)                
        div(layout="column" flex)
            .form-group(flex="90")
                label.control-label(for="subtitle") Sub Title
                input.form-control(ng-model="vm.docSvc.doc.subtitle")
div(layout="row" flex layout-fill layout-padding)
        div(layout="column" flex)
            .form-group(flex="90")
                label.control-label(for="group") Assigned Group
                select.form-control(ng-model="vm.docSvc.selGroup", ng-options="item.name for item in vm.docSvc.menugroups")
                //- SELF NOTES!!!!!
                //- link select object with a group.
                //- 5e7c1b7883215d00005e6e2d is the id for menugroup "200325 Test Restaurant Menus"
                //- Add form object to set the menugroup (set this menu id to a menugroup object).