div(layout="row" flex layout-fill layout-padding)
    div(layout="column" flex)
        .form-group(flex="90")
            label.control-label(for="notes") Notes
            textarea.form-control(ng-model="vm.tmMenuItemDocSvc.doc.notes")      