div(flex layout="row")
    .form-group(flex="40")
        label.control-label(for="name") Name
        input.form-control(ng-model="vm.docSvc.doc.name" )
    .form-group(flex="60")
        label.control-label(for="description") Description
        input.form-control(ng-model="vm.docSvc.doc.description")
div(flex layout="row")
    .form-group(flex="40")
        label.control-label(for="title") Title
        input.form-control(ng-model="vm.docSvc.doc.title")
    .form-group(flex="60")
        label.control-label(for="subtitle") Sub Title
        input.form-control(ng-model="vm.docSvc.doc.subtitle")
div(flex layout="row")
    .form-group(flex="30")
        label.control-label(for="group") Assigned Group
        select.form-control(ng-model="vm.docSvc.selectedGroup", ng-blur="vm.docSvc.setSelGroup()" ng-options="item.name for item in vm.docSvc.menugroups")

