form(name="vm.detailForm")
div(flex="100" align-content="flex-start" layout="column")
    div(flex layout="row")
        .form-group(flex="40")
            label.control-label(for="name") Name
            input.form-control(ng-model="vm.docSvc.doc.name" )
        .form-group(flex="60")
            label.control-label(for="description") Description
            input.form-control(ng-model="vm.docSvc.doc.description")
    div(flex layout="row")
        .form-group(flex="40")
            label.control-label(for="title") Title
            input.form-control(ng-model="vm.docSvc.doc.title")
        .form-group(flex="60")
            label.control-label(for="subtitle") Sub Title
            input.form-control(ng-model="vm.docSvc.doc.subtitle")
    div(flex layout="row")
        .form-group(flex="100")
            label.control-label(for="footer") Footer
            input.form-control(ng-model="vm.docSvc.doc.footer")
    div(flex layout="row")
        .form-group(flex="100")
            label.control-label(for="footer") Notes
            input.form-control(ng-model="vm.docSvc.doc.notes")
