div(flex="100")
    list-header
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Username
            th Name
            th.text-right
                button.btn.btn-primary.btn-xs(ng-click="vm.addItemDialog()") {{::vm.constructorArgs.addHeaderText}}
        tbody
            tr(ng-repeat="item in vm.items | filter:searchText | orderBy:sortOrder")
                td {{::item.username}}
                td {{::item.firstName}}
                td.text-right
                    list-item-buttons(id-val="item._id" delete-fn="vm.deleteItem(idVal)" edit-fn="vm.details(idVal)")

// .col-md-10
//     .breadcrumb {{vm.title}}
//     fieldset
//         legend Users
//         .pull-right
//             form.form-inline
//                 .form-group
//                     input.form-control(ng-model="searchText", placeholder="Filter")
//                 | &nbsp;
//                 .form-group.margin-left-med
//                     select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
//         table.table.table-responsive
//             colgroup
//                 col(span="1")
//                 col(span="1")
//                 col.tableNav(span="1")
//             thead
//                 th Username
//                 th Description
//                 th.text-right
//                     button.btn.btn-primary.btn-xs(ng-click="vm.addItem()") Add User
//             tbody
//                 tr(ng-repeat="user in vm.users | filter:searchText | orderBy: sortOrder")
//                     td {{user.username}}
//                     td {{user.username}}
//                     td.text-right
//                         a(href="" ng-click="vm.details(menuGroup._id)")
//                             span.glyphicon.glyphicon-pencil
//                         | &nbsp; | &nbsp;
//                         a(href="" ng-click="vm.deleteMenuGroup(menuGroup._id)")
//                             span.glyphicon.glyphicon-remove
//     //p(ng-repeat="user in vm.users") {{user.username}}
//     //p back in the users controller
