div(layout="column" flex layout-fill layout-padding)
    div.itemCardHeader(layout="row")
        div
            h4 Events
        div(flex)
        div
            h4
                a(href="" ng-click="vm.addContract()")
                    span.glyphicon.glyphicon-plus
    //md-button(ng-click="vm.addContract()") Add Contract
    div.itemCard(ng-repeat="contract in vm.contractsList" )
        .pull-right
            a(ui-sref="root.contractDetail({id: contract._id})") View
        div.md-title {{::contract.eventName}}
        div {{::contract.eventDate  | date:'fullDate' }}