div(layout-gt-xs="row" layout-padding)
    div(layout="row" flex)
        .form-group(flex=33)
            label.control-label(for="name") Menu Item Name
            input.form-control(name="name" placeholder="Name" ng-model="vm.docSvc.doc.name" )
        .form-group(flex)
            label.control-label(for="description") Description
            textarea.form-control(name="description" rows="3" placeholder="Description" ng-model="vm.docSvc.doc.description")
