.detailForm
    .detailHeader(layout="row" layout-align="center center" layout-padding)
        div(flex="33" layout="row" layout-align="start center") 
            h4 {{vm.tmMenuItemDocSvc.doc.name}} Detail
        div(flex="33" layout="row" layout-align="center center") 
            md-button(ng-click="vm.tmMenuItemDocSvc.refreshFromServer()") Refresh
        div(flex="33" layout="row" layout-align="end center") 
            md-button(ng-click="vm.close()" aria-label="close")
                span.glyphicon.glyphicon-remove
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    div()
                        form(name="vm.detailForm")
                            div(layout-gt-xs="row" layout-padding)
                                div(flex="50" layout="column")
                                    md-input-container.md-block.md-body-2
                                        label Menu Item Name
                                        input(ng-model="vm.tmMenuItemDocSvc.doc.name" )
                                    md-input-container.md-block.md-body-2
                                        label Description
                                        input(ng-model="vm.tmMenuItemDocSvc.doc.description")
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Descriptions")
                                div(layout="row" flex layout-fill layout-padding)
                                    div(flex='33')
                                        h3 Menu Descriptions
                                        p Depending on menu printing requirements each menu item can save multiple descriptions.  
                                            | <em>Romaine lettuce tossed with Caesar dressing</em>
                                            | <em>Romaine | Caesar Dressing | Croutons</em>
                                    div(flex)
                                        h3 Titles
                                        input(ng-Model="vm.newTitle")
                                        md-button(ng-click="vm.addTitle()")
                                            md-icon.glyphicon.glyphicon-plus
                                            | Add Title
                                        div(ng-repeat="title in vm.tmMenuItemDocSvc.doc.title track by $index")
                                            div(layout="row" style="width: 150px")
                                                span {{title}}
                                                span(flex)
                                                a(href="" ng-click="vm.tmMenuItemDocSvc.removeTitle(title)")
                                                    span.glyphicon.glyphicon-remove
                        md-tab(label="Categories")
                            div(layout="row" layout-padding)
                                div(flex=33)
                                    h3 Categories
                                    p Categories are used to filter menu items and help with searching.  Categories are added from the Selector Bar over there on the left.
                                    div(ng-repeat="item in vm.tmMenuItemDocSvc.doc.categories")
                                        div(layout="row" style="width: 150px")
                                            span  {{item}} 
                                            span(flex)
                                            a(href="" ng-click="vm.tmMenuItemDocSvc.removeCategory(item)")
                                                span.glyphicon.glyphicon-remove
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
                    div Some footer text here
        div.detailRightPanel(flex="20" ng-show="vm.tabIndex === 1" layout-padding)
            md-content(layout-padding style="background: transparent")
                div()
                    h3 Add Category
                    a(href="") Add categories to the list
                    lookups(tm-data-source="Lookups" doc-list="vm.tmMenuItemDocSvc.doc.categories" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
                        a(href="" ng-click="dCtrl.addItem(item)") 
                            span.glyphicon.glyphicon-circle-arrow-left 
                        span &nbsp; {{item}}
    .detailFooter(layout="row" layout-align="center center" layout-padding)
        div(flex="33" layout="row" layout-align="start center") 
            md-button.md-raised(ng-click="vm.close()" aria-label="close") Cancel
        div(flex="33" layout="row" layout-align="center center") 
            div Middle Footer
        div(flex="33" layout="row" layout-align="end center") 
            md-button.md-raised(ng-click="vm.addItem()") Add
            md-button.md-raised(ng-click="vm.reset()" aria-label="" ng-disabled="vm.detailForm.$pristine") Undo
            // md-menu
            //     md-button(ng-click="vm.openSaveMenu($mdOpenMenu, $event)") Save
            //     md-menu-content
            //         md-menu-item
            //             md-button(ng-click="vm.setSaveButton('close')") Save & Close
            //         md-menu-item
            //             md-button(ng-click="vm.setSaveButton('stay')") Save & Stay
                    
            md-button.md-raised(ng-click="vm.saveChanges()" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Stay
            md-button.md-raised(ng-click="vm.saveChanges(true)" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Close