div.md-dialog-fullscreen(layout="column" layout-fill)
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            h3 
                span {{vm.tmMenuItemDocSvc.doc.name}} Detail
            span(flex)
            md-button(ng-click="vm.close()" aria-label="close")
                span.glyphicon.glyphicon-remove
    md-content(flex layout-padding)
        div
            form(name="vm.detailForm")
                div(layout-gt-xs="row")
                        md-input-container.md-block
                            label Menu Item Name
                            input(ng-model="vm.tmMenuItemDocSvc.doc.name" )
                        md-input-container.md-block(flex-gt-sm)
                            label Description
                            input(ng-model="vm.tmMenuItemDocSvc.doc.description")
            div(layout-fill)
                md-tabs(md-border-bottom)
                    md-tab(label="Categories")
                        div(layout="row")
                            div(flex=33)
                                p(ng-repeat="item in vm.tmMenuItemDocSvc.doc.categories") {{item}}
                                    a(href="" ng-click="vm.tmMenuItemDocSvc.removeCategory(item)")
                                        span.glyphicon.glyphicon-remove
                            div(flex=33)
                                p(ng-repeat="item in vm.tmMenuItemDocSvc.doc.contactTypes") {{item}}
                                
                                lookups(tm-data-source="Lookups" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
                                    div(layout="row")
                                        div(ng-repeat="item in dCtrl.data") 
                                            a(href="" ng-click="dCtrl.addItem(item)") 
                                                span.glyphicon.glyphicon-circle-arrow-left 
                                            span &nbsp; {{item}}
                            div(flex=33)
                                h1 Dude you have errors
                                p {{vm.tmMenuItemDocSvc.validationError}}
                                a(href="" ng-click="vm.toggleRight()") Show nav
                    md-tab(label="Errors")
                        md-content.md-padding
                            h1 Dude you have errors
                            p {{vm.tmMenuItemDocSvc.validationError}}
                    md-tab(label="Notes")
                        md-content.md-padding
                            h1 Notes
                    md-tab(label="Pictures")
                        md-content.md-padding
                            h1 Pictures
                    md-tab(label="Directions")
                        md-content.md-padding
                            h1 Directions
    is-loading
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            md-button.md-raised(ng-click="vm.close()" aria-label="close") Cancel
            span(flex)
            md-button.md-raised(ng-click="vm.addItem()") Add Menu Item
            md-button.md-raised(ng-click="vm.reset()" aria-label="" ng-disabled="vm.detailForm.$pristine") Undo Changes
            md-button.md-raised(ng-click="vm.saveChanges()" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Stay
            md-button.md-raised(ng-click="vm.saveChanges(true)" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Close
