doctype
html(lang="en")
    head
        title banquet.ninjaV2
        meta(charset="UTF-8")
        base(href="/")
    body
        .container
            .row
                div(ui-view="header")
            .row
                div(ui-view='content')
            .row
                div(ui-view="footer")
        include scripts 


    


        