
@page
    size 8.5in 11in
    margin-left .5in
    margin-right .5in
    
    
@bottom-left
    content "hello"
    
@media print
    #printButton
        display none
    .print-nav-button
        display: none
    .contractItems tr:nth-child(even)
        background-color: #ddd !important
        -webkit-print-color-adjust: exact;
        
table
    width 100%
    height: 25px

.contractItems tr
    border-bottom: 1px solid #ddd

.contractItems tr:nth-child(even)
    background-color: #ddd
    -webkit-print-color-adjust: exact;

// removed this from jade    
table.contractHeader
    margin-bottom 20px

tr.rowHead td
    background-color #ddd 
    border solid black 1px
    vertical-align top
    padding 2px
    font-weight bold
    
tr.rowData td 
    border solid black 1px
    padding 2px
    vertical-align top
tr td 
    max-width: 76ch; 
    overflow-wrap: break-word
.half
    width: 50%

.third
    width: 33.3%    

.quarter
    width: 24%

.threeQuarters
    width: 75%

.money
    border: 1px solid black
    width:80px
    text-align:right
    padding-right: 5px