
@page
    size 8.5in 11in
    margin-left .5in
    margin-right .5in
@bottom-left
    content "hello"
    
@media print
    #printButton
        display none
    .print-nav-button
        display: none
    .contractItems tr:nth-child(even)
        background-color: #ddd !important
        -webkit-print-color-adjust: exact

table
    width 100%
    height: 25px
    page-break-after: avoid

.contractItems tr
    border-bottom: 1px solid #ddd
    page-break-after: avoid;

.contractItems tr:nth-child(even)
    background-color: #ddd
    -webkit-print-color-adjust: exact
    page-break-after: avoid

// removed this from jade    
table.contractHeader
    margin-bottom 20px
    page-break-after: avoid;

tr.rowHead td
    background-color #ddd 
    border solid black 1px
    vertical-align top
    padding 2px
    font-weight bold
tr.rowData td 
    border solid black 1px
    padding 2px
    vertical-align top
tr td 
    max-width: 76ch; 
    overflow-wrap: break-word
    page-break-after: avoid;

.money
    border: 1px solid black
    width:80px
    text-align:right
    padding-right: 5px

.bigMoney
    border: 1px solid black
    width:150px
    text-align:right
    padding-right: 5px

h1, h2, h3, h4, h5 
    page-break-after:avoid

.article
    page-break-after:avoid
