ribbonLightBlue = #e3eaf3
detailPanelVeryLightBlue = #f9fafb
detailPanelBorder = #e3eaf3
tableHeaderBlue = #c0d0e4
buttonBlue = #486c8f
leftPanelMenuDarkBlue = #193048
detailHeaderBlue = #486c8f
detailFooterDarkBlue = #193048
rightPanelLightBlue = #dae7f1
mediumDarkGrey = #656565

body
    height 100%
    
html
    height 100%

.list-header
    border-bottom solid 1px rightPanelLightBlue
    margin-bottom 1em;
    font-size 2.5em
    color mediumDarkGrey

.foodViewDiv
    

.foodEditDiv
    //-webkit-transition all linear 3.5s
    //transition all linear 3.5s

.foodEditDiv.ng-hide
    //opacity 0
.gridRow
    background-color rightPanelLightBlue
    margin 5px
    padding 3px

.gridItemCell
    padding: 3px; 
    background-color: #f5fafa; 
    margin: 3px

.gridItemHeaderCell
    padding: 3px;
    color: mediumDarkGrey
    margin: 3px
    text-align: center
    font-weight: bold

.gridHeader
    background-color: tableHeaderBlue
    margin 5px
    padding 3px
    
.over
    margin-bottom 40px
    
.gridItemEditCell
    padding: 2px; 
    margin: 2px

.itemCardHeader
    background-color detailHeaderBlue
    color white
    padding 0px 5px 0px 5px
    margin 5px
    
.itemCardHeader .glyphicon
    color white
    
.itemCard
    background-color rightPanelLightBlue
    margin 5px
    padding 5px

.itemCard.itemCard-dark
    background-color tableHeaderBlue
    color mediumDarkGrey

.wrapper
    padding-top 69px
    min-height 100%
    height auto !important
    height 100%
    margin 0 auto -25px
    
.navbar-right
    margin-right 5px
    
.footer
    background-color gray13
    border-top 2px solid gray80
    height 50px
    margin-top 20px
    
.push
    height 50px

.isLoadingSpan
    background-color white

.jumbotron
    padding 15px

.tableNav
    width 65px;

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.form-group
    padding-right 5px

.navbar-brand
    h4
        margin-top 0px

.container
    #main-content
        min-height 500px
        
.modal-fs
    width 100%
    height 100%
    
.modal-fs .modal-content
    width 100%
    height 100%
    margin -10px 0px 0px -10px
    padding-top 20px
    border-radius 0 0 0 0
    
    
.modal < .modal-fs
    width 100%
    height 100%
    margin 0
    padding 0
    
.modal
    overflow auto
    overflow-y hidden
    
.md-dialog-fullscreen
    height 100%
    width 100%
    max-height 100%
    max-width 100%
    position absolute
    top 0
    left 0
    border-radius 0

.tm-detailToolbar
    // background-color #6699FF

// Detail Form Style
// Creates a modalish full size screen
//  That has scrollable sections

.active-card
    border solid 1px
    outline 0
    border-color rgba(82,168,236,.8)
    box-shadow rgba(82,168,236,1)

.activeCard
    border solid 1px
    outline 0
    border-color rgba(82,168,236,.8)
    box-shadow rgba(82,168,236,1)

.invisible
    visibility hidden

.activeDivider
    background-color detailHeaderBlue
    

md-toolbar
    background detailHeaderBlue !important

md-ink-bar
    color detailHeaderBlue !important
    background detailHeaderBlue !important

.detailForm
    height 100%
    width 100%
    padding 0
    margin 0
    overflow-y hidden

.detailHeader
    position absolute
    padding 5px
    margin 0
    top 0px
    left 0px
    right 0px
    overflow hidden
    height 50px
    color white
    background-color detailHeaderBlue
    vertical-align middle

.detailContent
    position absolute
    top 50px
    margin 0
    bottom 50px
    //padding 10px
    left 0
    right 0
    //overflow-y auto
    //overflow-x hidden
    
th
    background-color tableHeaderBlue

.listHeaderFilters
    margin-bottom 15px

.detailFooter
    position absolute
    bottom 0
    margin 0
    padding 5px
    height 50px
    left 0
    right 0
    bottom 0
    color white
    background-color detailFooterDarkBlue
    vertical-align middle
    
.toast-bottom-full-width-detail {
  bottom: 0;
  right: 0;
  width: 100%;
}
    
.detailFooter * .md-button[disabled="disabled"]
    color rgba(218, 231, 241, .5) !important
    background-color rgba(0,0,0,0.80)
    
.detailTopPanel
    background-color ribbonLightBlue
    border-bottom solid 1px detailPanelBorder
    //background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);

.detailSection
    //background-color ribbonLightBlue
    height 100%
    width 100%
    min-height 100%
    overflow-y auto
    overflow-x hidden
    
.detailLeftPanel
    overflow-y auto
    overflow-x hidden
    
.detailRightPanel
    background-color rightPanelLightBlue
    border-left solid 1px detailFooterDarkBlue
    overflow-y auto
    overflow-x hidden

@media (min-width: 768px)
    .modal-fs .modal-content
        margin -30px 0 0 0
        
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
    from    {  transform: translateX(0); }
    to      { transform:translateX(100%); }
}

// [ui-view].ng-enter { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
// [ui-view].ng-leave { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.flexAnimate
    transition: all 500ms linear;
    //flex-grow: 1;
    //flex-shrink: 1;
    //flex-basis: auto;
    //transition: all 2s;

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border-left: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  //transition: all linear 0.5s;
  animation: slideInRight 0.5s both ease-in; 
  z-index: 9999;
}

.animate-show.ng-hide {
  //line-height: 0;
  //opacity: 0;
  //padding: 0 10px;
  animation: slideOutRight 0.5s both ease-in; 
  z-index: 9999;
}

.btn-round {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 28px;
    height: 28px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.badge.tm {
    font-size: 1em;
    background-color: #337ab7;
    margin-right: 5px;
}

.list-buttons {
    padding: 4px;
}
