body
    height 100%
    
html
    height 100%
    
.wrapper
    padding-top 69px
    min-height 100%
    height auto !important
    height 100%
    margin 0 auto -25px
    
.navbar-right
    margin-right 5px
    
.footer
    background-color gray13
    border-top 2px solid gray80
    height 50px
    margin-top 20px
    
.push
    height 50px

.jumbotron
    padding 15px

.tableNav
    width 65px;

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.navbar-brand
    h4
        margin-top 0px

.container
    #main-content
        min-height 500px
        
.modal-fs
    width 100%
    height 100%
    
.modal-fs .modal-content
    width 100%
    height 100%
    margin -10px 0px 0px -10px
    padding-top 20px
    border-radius 0 0 0 0
    
    
.modal < .modal-fs
    width 100%
    height 100%
    margin 0
    padding 0
    
.modal
    overflow auto
    overflow-y hidden
    
.md-dialog-fullscreen
    height 100%
    width 100%
    max-height 100%
    max-width 100%
    position absolute
    top 0
    left 0
    border-radius 0

.detailForm
    height 100%
    width 100%
    padding 0
    margin 0
    overflow-y hidden

.detailHeader
    position absolute
    padding 5px
    margin 0
    top 0px
    left 0px
    right 0px
    overflow hidden
    height 50px
    background-color #c9c9c9
    vertical-align middle

.detailContent
    position absolute
    top 50px
    margin 0
    bottom 50px
    padding 10px
    left 0
    right 0
    overflow-y auto
    overflow-x hidden

.detailFooter
    position absolute
    bottom 0
    margin 0
    padding 5px
    height 50px
    left 0
    right 0
    bottom 0
    background-color #c9c9c9
    vertical-align middle

@media (min-width: 768px)
    .modal-fs .modal-content
        margin -30px 0 0 0
        
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

//[ui-view].ng-enter { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
//[ui-view].ng-leave { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }