div(layout="row" layout-align="space-around")
    div(ng-click="$ctrl.select('A')") A
    div(ng-click="$ctrl.select('B')") B
    div(ng-click="$ctrl.select('C')") C
    div(ng-click="$ctrl.select('D')") D
    div(ng-click="$ctrl.select('E')") E
    div(ng-click="$ctrl.select('F')") F
    div(ng-click="$ctrl.select('G')") G
    div(ng-click="$ctrl.select('H')") H
    div(ng-click="$ctrl.select('I')") I
    div(ng-click="$ctrl.select('J')") J
    div(ng-click="$ctrl.select('K')") K
    div(ng-click="$ctrl.select('L')") L
    div(ng-click="$ctrl.select('M')") M
    div(ng-click="$ctrl.select('N')") N
    div(ng-click="$ctrl.select('O')") O
    div(ng-click="$ctrl.select('P')") P
    div(ng-click="$ctrl.select('Q')") Q
    div(ng-click="$ctrl.select('R')") R
    div(ng-click="$ctrl.select('S')") S
    div(ng-click="$ctrl.select('T')") T
    div(ng-click="$ctrl.select('U')") U
    div(ng-click="$ctrl.select('V')") V
    div(ng-click="$ctrl.select('W')") W
    div(ng-click="$ctrl.select('X')") X
    div(ng-click="$ctrl.select('Y')") Y
    div(ng-click="$ctrl.select('Z')") Z