
div(layout="row" flex layout-fill layout-padding)
    div(layout="column" flex)
        md-input-container.md-block(flex)
            label Title
            input(ng-model="vm.docSvc.doc.title")
        md-input-container.md-block(flex)
            label Sub Title
            input(ng-model="vm.docSvc.doc.subtitle")