div(layout="row" layout-padding)
    div(flex=33)
        h3 Menus
        p These are the menus assigned to this group.
        //- md-button(ng-click="vm.docSvc.addSection()") Add Menu
        div(ng-repeat="item in vm.docSvc.doc.menus track by $index")
            div(layout="row")
                div(ng-click="vm.docSvc.editGroup($index)" style="padding: 2px")
                    span {{item.name ? item.name : item.title}}
                    span(flex)
                a(href="" ng-click="vm.docSvc.removeMenu($index)")
                    div(style="margin:5px; float:left")
                        span.glyphicon.glyphicon-remove
                a(ui-sref="root.menuDetail({id:vm.docSvc.doc.menus[$index]['_id']})")
                    div(style="margin:5px; float:left")
                        span.glyphicon.glyphicon-pencil
