form(name="vm.detailForm")
    div(flex layout="row")
        div(flex="80" align-content="flex-start" layout="column")
            div(layout="row")
                .form-group(flex="33")
                    label.control-label(for="name") Name
                    input.form-control(ng-model="vm.docSvc.doc.name" )
                .form-group(flex="66")
                    label.control-label(for="description") Description
                    input.form-control(ng-model="vm.docSvc.doc.description")
            div(layout="row")
                .form-group(flex="33")
                    //- label.control-label(for="active") Active Group
                    md-checkbox(ng-model="vm.docSvc.doc.active") Set as active group