.detailForm(ng-cloak)
    detail-header
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    include ./tabs/topPanel.jade
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Food & Beverage")
                            include ./tabs/food.jade
                        md-tab(label="Event Timeline")
                            include ./tabs/timeline.jade
                        md-tab(label="Communication")
                            include ./tabs/tab-commlog.jade
                        md-tab(label="Event Notes")
                            include ./tabs/tab-notes.jade
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
                //-     div hello
        div.detailRightPanel(flex="20" ng-show="vm.sideTab.menuItems && vm.tabIndex == 0" layout-padding)
            include ./tabs/addFood.jade
        div.detailRightPanel(flex="20" ng-show="vm.sideTab.rooms" layout-padding)
            include ./tabs/addVenue.jade
        div.detailRightPanel(flex="20" ng-show="vm.sideTab.commLog  && vm.tabIndex == 2" layout-padding)
            include ./tabs/add-commlog.jade
        div.detailRightPanel(flex="20" ng-show="vm.sideTab.timeline && vm.tabIndex == 1" layout-padding)
            include ./tabs/addTimeline.jade
    detail-footer