.detailForm(ng-cloak)
    detail-header
    .detailContent(layout="row" flex)
        div.detailLeftPanel(flex layout="column")
            div.detailLeftPanelContainer(layout-fill)
                div.detailTopPanel(layout-padding)
                    div()
                        form(name="vm.detailForm")
                            div(layout-gt-xs="row" layout-padding)
                                div(flex layout="row")
                                    .form-group(flex="33")
                                        label.control-label(for="title") Event Name
                                        input.form-control(ng-model="vm.docSvc.doc.eventName" )
                                    .form-group(flex="66")
                                        label.control-label(for="description") Nature of Event
                                        input.form-control(ng-model="vm.docSvc.doc.natureOfEvent")
                div.detailSection(layout-padding)
                    md-tabs(md-dynamic-height  layout="column" md-selected="vm.tabIndex")
                        md-tab( label="Food & Beverage")
                            require('jade!./tabs/food.jade')
                        md-tab(label="Event Timeline")
                            
                        md-tab(label="Communication")
                           
                div.insideDetailFooter(layout="row" layout-padding layout-align="start start")
                    div Some footer text here
        div.detailRightPanel(flex="20" ng-show="vm.tabIndex === 1" layout-padding)
            md-content(layout-padding style="background: transparent")
                div()
                    h3 Add Category
                    a(href="") Add categories to the list
                    lookups(tm-data-source="Lookups" doc-list="vm.tmMenuItemDocSvc.doc.categories" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
                        a(href="" ng-click="dCtrl.addItem(item)") 
                            span.glyphicon.glyphicon-circle-arrow-left 
                        span &nbsp; {{item}}
    detail-footer