.col-md-10
    .breadcrumb Production > Menu Items
    legend Menu Items
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            | &nbsp;
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Menu Item
            th Description
            th.text-right
                button.btn.btn-primary.btn-xs(ng-click="vm.addItem()") Add Menu Item
        tbody
            tr(ng-repeat="menuItem in vm.items | filter:searchText | orderBy:sortOrder")
                td {{menuItem.name}}
                td {{menuItem.description}}
                td.text-right
                    //button.btn.btn-primary.btn-xs(ng-click="vm.details(menuItem._id)") Edit
                    a(href="" ng-click="vm.details(menuItem._id)")
                        span.glyphicon.glyphicon-pencil
                    | &nbsp; | &nbsp;
                    a(href="" ng-click="vm.deleteMenuItem(menuItem._id)")
                        span.glyphicon.glyphicon-remove
