

div.md-dialog-fullscreen(layout="column" layout-fill)
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            h3 
                span Menu Item Detail
            span(flex)
            md-button(ng-click="vm.close()" aria-label="close")
                span.glyphicon.glyphicon-remove
    md-content(flex layout-padding)
        div
            form(name="vm.detailForm")
                div(layout-gt-xs="row")
                        md-input-container.md-block
                            label Menu Item Name
                            input(ng-model="vm.tmMenuItemDocSvc.doc.name" )
                        md-input-container.md-block(flex-gt-sm)
                            label Description
                            input(ng-model="vm.tmMenuItemDocSvc.doc.description")
            div(layout-fill)
                md-tabs(md-border-bottom)
                    md-tab(label="Categories")
                        div(layout="row")
                            div(flex=33)
                                p(ng-repeat="item in vm.tmMenuItemDocSvc.doc.categories") {{item}}
                            div(flex=33)
                                p(ng-repeat="item in vm.tmMenuItemDocSvc.doc.contactTypes") {{item}}
                                lookups(tm-data-source="Lookups" list="menuItemTags" doc-service-add-method="tmMenuItemDocSvc.addCategory")
                                    p(ng-repeat="item in ctrl.data") 
                                        a(href="" ng-click="ctrl.addItem(item)") 
                                            span.glyphicon.glyphicon-circle-arrow-left 
                                        span &nbsp; {{item}}
                                        
                                //lookups(select-list="menuItemTags" selected-list="categories" doc-service="tmMenuItemDocSvc")
                                // lookups(doc-service="tmMenuItemDocSvc" add-method="addCategory" tm-data-source="Lookups" list="vm.data")
                                //     p {{item}}
                                    // a(href="" ng-click="testClick(item)") 
                                    //     span.glyphicon.glyphicon-circle-arrow-left 
                                    // span &nbsp; {{item}}
                                    
                                    // ul
                                    //     li(ng-repeat="item in list.menuItemTags") {{item}}
                                // lookups(doc-service="tmMenuItemDocSvc" add-method="addCategory" tm-data-source="Lookups" list="list")
                                //     p Add Contact Type
                                //     ul
                                //         li(ng-repeat="item in list.contactTags") {{item}}
                            div(flex=33)
                                h1 Dude you have errors
                                p {{vm.tmMenuItemDocSvc.validationError}}
                                //p form Is pristine {{vm.detailForm.$pristine}}
                                //p docService is Dirty {{vm.tmMenuItemDocSvc.isDirty()}}
                        // md-content.md-padding(layout="row")
                        //     div(flex="25")
                        //         md-chips(ng-model="vm.menuItem.categories" )
                        //             md-chip-template
                        //                 {{$chip}}
                        //         md-select(ng-model="vm.selectedItem" ng-change="vm.addCategory()" aria-label="Assign categories")
                        //             md-option(ng-repeat="item in vm.lookups.categories") {{item}}
                            // md-autocomplete(md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="vm.noCache" md-selected-item="vm.selectedItem" md-items="item in vm.lookups.categories" md-item-text="item" md-floating-label="Assign Categories")
                            //     md-item-template
                            //         span {{item}}
                    md-tab(label="Errors")
                        md-content.md-padding
                            h1 Dude you have errors
                            p {{vm.tmMenuItemDocSvc.validationError}}
                    md-tab(label="Notes")
                        md-content.md-padding
                            h1 Notes
                    md-tab(label="Pictures")
                        md-content.md-padding
                            h1 Pictures
                    md-tab(label="Directions")
                        md-content.md-padding
                            h1 Directions
    is-loading
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            md-button.md-raised(ng-click="vm.close()" aria-label="close") Cancel
            span(flex)
            md-button.md-raised(ng-click="vm.addItem()") Add Menu Item
            md-button.md-raised(ng-click="vm.reset()" aria-label="" ng-disabled="vm.detailForm.$pristine") Undo Changes
            md-button.md-raised(ng-click="vm.saveChanges()" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Stay
            md-button.md-raised(ng-click="vm.saveChanges(true)" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Close
