

div.md-dialog-fullscreen(layout="column" layout-fill)
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            h3 
                span Menu Item Detail
            span(flex)
            md-button(ng-click="vm.close()" aria-label="close")
                span.glyphicon.glyphicon-remove
    md-content(flex layout-padding)
        is-loading
        form(name="vm.detailForm")
            md-input-container.md-block
                label Menu Item Name
                input(ng-model="vm.menuItem.name")
            md-input-container.md-block
                label Description
                input(ng-model="vm.menuItem.description")
            md-input-container.md-block
                label Categories
                input(ng-model="vm.menuItem.category")
    md-toolbar(layout="row")
        .md-toolbar-tools.tm-detailToolbar
            md-button.md-raised(ng-click="vm.close()" aria-label="close") Cancel
            span(flex)
            md-button.md-raised(ng-click="vm.reset()" aria-label="" ng-disabled="vm.detailForm.$invalid || vm.detailForm.$pristine") Undo Changes
            md-button.md-raised(ng-click="" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Stay
            md-button.md-raised(ng-click="" aria-label="" ng-disabled="vm.detailForm.$invalid") Save & Close
