.container.col-md-12
    h1 Become a Member!
    p TipMiner is dedicated to your success.  As an independent restaurant owners ourselves, we have crafted workflows that make our company run.  TipMiner wants you to participate in an ecosystem where ideas for success are shared and the workflows put those ideas into practice.
    p Running a restaurant is hard.  Really hard.  TipMiner can help make it easier.
    h3 What is Membership?
    p TipMiner is a paid service that provides you with tools to manage restaurants.  For a monthly or annual fee you gain access to these tools.
    hr
.container.col-md-12
    .well.col-md-8
        form.form-horizontal(name="signupForm")
            fieldset
                legend Enter Account Information
                p To start a tipminer account enter your company information.  A credit card is required to start your 30-day free trial.  After you create a company account individual user accounts are created.  The user information collected here will be assigned the Administrator status.
                .form-group(ng-class="{'has-error': vm.validationError.errors['companyName'].kind}")
                    label.col-md-3.control-label(for="companyName") Company Name 
                    .col-md-9
                        input.form-control(name="companyName", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('companyName')", type="text", placeholder="Company Name", ng-model="vm.accountData.companyName")
                        span.help-block(id="companyName-helpBlock" ng-show="vm.validationError.errors['companyName'].kind") {{vm.validationError.errors['companyName'].message}}
                .form-group(ng-class="{'has-error': vm.validationError.errors['email'].kind}")
                    label.col-md-3.control-label(for="email") Email
                    .col-md-9
                        input.form-control(name="email", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('email')", placeholder="Email", ng-model="vm.accountData.email")
                        span.help-block(id="email-helpBlock" ng-show="vm.validationError.errors['email'].kind") {{vm.validationError.errors['email'].message}}
                .form-group(ng-class="{'has-error': vm.validationError.errors['password'].kind}")
                    label.col-md-3.control-label(for="password") Password
                    .col-md-9
                        input.form-control(name="password", type="password", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('password')", placeholder="Password", ng-model="vm.accountData.password")
                .form-group(ng-class="{'has-error': vm.validationError.errors['confirmPassword'].kind}")
                    label.col-md-3.control-label(for="confirmPassword") Confirm Password
                    .col-md-9
                        input.form-control(name="confirmPassword", type="password", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('confirmPassword')", placeholder="Confirm Password", ng-model="vm.accountData.confirmPassword")
                .form-group(ng-class="{'has-error': vm.validationError.errors['firstName'].kind}")
                    label.col-md-3.control-label(for="fname") First Name
                    .col-md-9
                        input.form-control(name="fname", type="text", placeholder="First Name", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('firstName')", ng-model="vm.accountData.firstName")
                .form-group(ng-class="{'has-error': vm.validationError.errors['lastName'].kind}")
                    label.col-md-3.control-label(for="email") Last Name
                    .col-md-9
                        input.form-control(name="lname", type="text", placeholder="Last Name", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('lastName')", ng-model="vm.accountData.lastName")
            fieldset
                legend Billing Address
                p Enter the billing address for the credit card
                .form-group(ng-class="{'has-error': vm.validationError.errors['address1'].kind}")
                    label.col-md-3.control-label(for="address1") Address
                    .col-md-9
                        input.form-control(name="address1", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('address1')", placeholder="Address Line 1", ng-model="vm.accountData.address1")
                .form-group(ng-class="{'has-error': vm.validationError.errors['address2'].kind}")
                    label.col-md-3.control-label(for="address2") Address
                    .col-md-9
                        input.form-control(name="address2", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('address2')", placeholder="Address Line 2", ng-model="vm.accountData.address2")
                .form-group(ng-class="{'has-error': vm.validationError.errors['city'].kind}")
                    label.col-md-3.control-label(for="city") City
                    .col-md-9
                        input.form-control(name="city", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('city')", placeholder="City", ng-model="vm.accountData.city")
                .form-group(ng-class="{'has-error': vm.validationError.errors['state'].kind}")
                    label.col-md-3.control-label(for="state") State
                    .col-md-9
                        input.form-control(name="state", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('state')", placeholder="State", ng-model="vm.accountData.state")
                .form-group(ng-class="{'has-error': vm.validationError.errors['zip'].kind}")
                    label.col-md-3.control-label(for="zip") Zip Code
                    .col-md-9
                        input.form-control(name="zip", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('zip')", placeholder="Zip Code", ng-model="vm.accountData.zip")
            fieldset
                legend Credit Card Information
                p M/C | Visa
                .form-group(ng-class="{'has-error': vm.validationError.errors['cardNumber'].kind}")
                    label.col-md-3.control-label(for="cardNumber") Card Number
                    .col-md-9
                        input.form-control(name="cardNumber", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('cardNumber')", placeholder="Card Number", ng-model="vm.accountData.cardNumber")
                .form-group(ng-class="{'has-error': vm.validationError.errors['expirationDate'].kind}")
                    label.col-md-3.control-label(for="expirationDate") Expiration Date
                    .col-md-9
                        input.form-control(name="expirationDate", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('expirationDate')", placeholder="MMYY", ng-model="vm.accountData.expirationDate")
                .form-group(ng-class="{'has-error': vm.validationError.errors['cardCode'].kind}")
                    label.col-md-3.control-label(for="cardCode") Card Number
                    .col-md-9
                        input.form-control(name="cardCode", type="text", ng-model-options="{updateOn: 'blur'}", ng-change="vm.validateField('cardCode')", placeholder="xxx", ng-model="vm.accountData.cardCode")
                br
                .form-group
                    .col-md-9.col-md-offset-3
                        button.btn.btn-primary(ng-click="vm.submitSignup()") Submit
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel
