div(ng-class="{'col-md-10': vm.tmIdentity.isAuthenticated(), 'col-md-12': vm.tmIdentity.isAuthenticated()}")
    .jumbotron
        img.img-responsive(src=require("../../assets/banquetNinja2.png"))
        p Welcome to banquet.ninja!  Buttery smooth banquet management for you and your customers.
    .col-md-6
        h3 Column 1
    .col-md-6
        h3 Column 2
