.container-fluid
    .jumbotron
        img(src=require("../../assets/banquetNinja2.png"))
        p Welcome to banquet.ninja!  Buttery smooth banquet management for you and your customers.
    .row
        .col-md-6
            h3 Column 1
        .col-md-6
            h3 Column 2
