.container-fluid
    .jumbotron
        img(src=require("../../assets/banquetNinja2.png"))
        p Welcome to banquet.ninja!  Buttery smooth banquet management for you and your customers.
    .row
        .col-md-6
            a(ui-sref="root.gatewood") go gatewood right now or now
        .col-md-6
