.container-fluid
    .jumbotron
        img(src=require("../../assets/banquetNinja2.png"))
        p Welcome to banquet.ninja!  Buttery smooth banquet management for you and your customers.
    .row
        .col-md-3
            nav-ninja
        .col-md-9
            h3 Column 1
            p {{vm.test}}
