.detailHeader(layout="row" layout-align="center center" layout-padding)
    div(flex="75" layout="row" layout-align="start center") 
        // Header Name Value Here
        //div.md-headline {{vm.detailTitle}}
        ellipsis-title(title="vm.detailTitle" char-size="50")
    //- div(flex="33" layout="row" layout-align="center center") 
    //-     div()
    //-         h5 Banquet.Ninja
    div(flex="25" layout="row" layout-align="end center") 
        md-button(ng-click="vm.close()" aria-label="close")
            span.glyphicon.glyphicon-remove