.detailHeader(layout="row" layout-align="center center" layout-padding)
    div(flex="33" layout="row" layout-align="start center") 
        // Header Name Value Here
        //div.md-headline {{vm.detailTitle}}
        ellipsis-title(title="vm.detailTitle")
    div(flex="33" layout="row" layout-align="center center") 
        // div(ng-show="vm.isLoading" flex)
        //     is-loading
        div()
            div Middle Header Section
        //md-button(ng-click="vm.docSvc.refreshFromServer()") Refresh
    div(flex="33" layout="row" layout-align="end center") 
        md-button(ng-click="vm.close()" aria-label="close")
            span.glyphicon.glyphicon-remove