div(style="display: flex; flex-direction: row; justify-content: flex-end")
    .btn-round.btn-sm(ng-show="$attrs.printFn" ng-click="print()"  style="padding-left: 4px; padding-top: 4px; color: white; background-color: #337ab7")
        span.glyphicon.glyphicon-print(style="margin-left: 4px; margin-top: 3px")
    .btn-round.btn-sm(ng-show="$attrs.detailsFn" ng-click="details()" style="color: white; background-color: #337ab7")
        span.glyphicon.glyphicon-link(style="margin-left: -1px; margin-top: 2px")
    .btn-round.btn-sm(ng-show="$attrs.editFn" ng-click="edit()" style="color: white; background-color: #337ab7")
        span.glyphicon.glyphicon-pencil(style="margin-left: -1px; margin-top: 2px")
    .btn-round.btn-sm(ng-show="$attrs.deleteFn" ng-click="delete()"  style="color: white; background-color: #337ab7")
        span.glyphicon.glyphicon-remove(style="margin-left: -1px; margin-top: 2px")