div(layout="row" flex layout-fill layout-padding)
            div(ng-repeat='role in vm.docSvc.doc.roles track by $index' flex="5") 
                {{role}}
                br           
        ninja-grid(create-method="addRole" 
                update-method="updateRole" 
                delete-method="removeRole"
                add-toggle="vm.sideTab.roles")
                