form(name="vm.detailForm")
    div(flex layout="row")
        div(flex="80" align-content="flex-start" layout="column")
            div(layout="row")
                .form-group(flex="48")
                    label.control-label(for="fName") First Name
                    input.form-control(ng-model="vm.docSvc.doc.firstName" )
                .form-group(flex="48")
                    label.control-label(for="lName") Last Name
                    input.form-control(ng-model="vm.docSvc.doc.lastName" )
                .form-group(flex="48")
                    label.control-label(for="username") Username
                    input.form-control(ng-model="vm.docSvc.doc.username")    